@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

body {
	margin: 0px;
	overflow-x: hidden;
    background-color: #FDFDFD;
	word-wrap: break-word;
}

.content {
	position: absolute;
	width: 99vw;
	height: auto;
	font-size: 12px;
	font-family: Barlow, Noto Sans TC;
	letter-spacing: 3px;
	line-height: 180%;
	color: #383D31;
	text-align: center;
	padding: 0 10px;
	overflow: auto;
	overflow-x: hidden;
}

.banner {
	position: relative;
	left: calc(25% - 10px);
	width: 50vw;
	height: 50vh;
	line-height: 39vw;
	border-bottom:1px solid #A7DAD8;
}

.banner img{
	height: 40vh;
	border-radius: 50%;
}

/* 卷軸底色 */
::-webkit-scrollbar { width:3px; background-color:#fff;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#ddd;}