@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;
	font-family: Barlow, Noto Sans TC;
	letter-spacing: 3px;
	word-wrap: break-word;
}

.img-fluid {
	/* width: 45vw; */
	width: 980px;
	height: 460px;
	background-color: #666;
}

.goal-img {
	height: 30vh;
}

/* .banner-head {
	position: absolute;
	width: 100vw;
	height: 45vh;
	background-color: #666;
}

.banner-bg{
	position: relative;
	width: 100vw;
	height: 45vh;
	opacity: .5;
	background-image: url('https://upload.cc/i1/2021/03/20/j0i1C9.png');
	background-size: contain;
}

.banner-text {
    z-index: 1;
	position: absolute;
	top: 9vw;
	width: 100vw;
	text-align: center;
	line-height: 80%;
}

.banner-text h1{
	position: relative;
	color:#fff;
	font-size: 6vh;
	font-family: Barlow, Noto Sans TC;
	letter-spacing: 10px;
	line-height: 100%;
}

.banner-text h2{
	position: relative;
	color:#fff;
	font-size: 2vh;
	font-family: Georgia;
	font-weight: normal;
	letter-spacing: 5px;
} */

.slogan {
	height: 35vh;
	line-height: 15vw;
	padding: 5px;
	margin-bottom: 4vw;
}

/* 卷軸底色 */
::-webkit-scrollbar { width:3px; background-color:#fff;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#ddd;}