/* 底色#d0ebd9 字#4B534C 淡#D1D1C2 酒紅#5A0217 苺粉#B8837E*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;
	/* font-family: Barlow, Noto Sans TC;
	letter-spacing: 3px;
	font-size: 12px; */
}

body {
	overflow-x: hidden;
}

.container-fluid {
	border-left: 10px solid #f4fff8;
	border-right: 10px solid #f4fff8;
}

form {
	width: 50vw;
	background-color: rgba(0, 0, 0, 0.349);
	position: relative;
	margin: 0 auto;
}


/* 卷軸底色 */
::-webkit-scrollbar { width:3px; background-color:#fff;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#ddd;}