@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body {
	font-family: Barlow, Noto Sans TC;
	font-size: 12px;
	letter-spacing: 3px;
	margin: 0px;
	overflow-x: hidden;
    background-color: #ddd;
    text-align: center;
}