@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;
}

.masthead {
    height: 60vh;
	position: relative;
	background: linear-gradient(to bottom, #d0ebd960 0%, #d0ebd900 100%);
	padding: 10rem 0;
	border-left: 10px solid #d0ebd950;
	border-right: 10px solid #d0ebd950;
    transform: translateY(5vh);
}

.masthead .masthead-heading h1{
	position: relative;
	font-family: 'Barlow', 'Noto Sans TC', cursive;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 1rem;
}

.masthead-subheading {
	font-family: Calibri, 'Noto Sans TC', cursive;
	font-size: .8rem;
	letter-spacing: .4rem;
}

.stu-name {
	line-height: 200%;
}

.slogan {
	font-size: 1.5rem;
	letter-spacing: .5rem;
	line-height: 3rem;
	color: #4B534C;
	text-shadow: 3px 2px 0 #D0EBD9;
}


