@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;

}

h1 {
	font-size: 4rem;
	letter-spacing: .4rem;
}

h3 {
	line-height: 170%;
	letter-spacing: .3rem;
}

.eng {
	font-family: 'EB Garamond', 'Noto Sans TC', cursive;
	line-height: 155%;
	color: #D2BF7A;
}

.first {
	padding: 20rem 0;
	transform: translateY(7vh);
}

.intro {
	background-color: #fff;
	box-shadow: 0 0 10px #33866A10;
	transition: .8s;
}

.intro:hover {
	box-shadow: 0 15px 30px #33866A30;
}

.intro-img {
	position: relative;
	z-index: 1;
}

.intro-text {
	margin-left: 5rem;
}

.intro-text p {
	color: #D2BF7A;
}

.col-12.col-md-12.text-center {
    left: 5vw;
}

.circle-item {
	background-color: #33866A;
	clip-path: circle(4rem at center);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}