/* 底色#d0ebd9 字#4B534C 淡#D1D1C2 酒紅#5A0217 苺粉#B8837E*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;
	/* font-family: Barlow, Noto Sans TC;
	letter-spacing: 3px;
	*/
}

body {
	overflow-x: hidden;
	background-color: #fbfbfb;
	color: #4B534C;
}

.container-fluid {
	border-left: 10px solid #f4fff8;
	border-right: 10px solid #f4fff8;
	font-family: Calibri , 'Noto Sans TC', cursive;
	letter-spacing: .2rem;
}

.masthead {
	position: relative;
	background: linear-gradient(to bottom, #d0ebd960 0%, #d0ebd900 100%);
	padding: 14rem 0;
	height: 92vh;
}

.masthead .masthead-heading {
	position: relative;
    font-size: 3rem;
	font-family: 'Barlow', 'Noto Sans TC', cursive;
    line-height: 3.5rem;
    color: #fff;
    text-shadow: 3px 3px 0 #000;
    letter-spacing: 1rem;
}

.masthead-subheading {
	color: #fff;
	font-family: Calibri, 'Noto Sans TC', cursive;
	font-size: .8rem;
	letter-spacing: .4rem;
}

h1 {
	font-size: 3.5rem;
}

h6.eng {
	font-size: .8rem;
	font-family: 'EB Garamond', cursive;
}

.second {
	max-width: 1400px;
}

/* 卷軸底色 */
::-webkit-scrollbar { width:3px; background-color:#fff;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#ddd;}
