/* 淡綠#D0EBD9 字主#3d1f04 綠#33866A 茶褐色#DDC18D / #D2BF7A 淡米#FBF9F1 背景#fbfbfb*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background-color: #fbfbfb;
	color: #3d1f04;
    letter-spacing: .2rem;
}

.container-fluid {
	font-family: Calibri , 'Noto Sans TC', cursive;
	min-height: 94.2vh;
}

#menu {
	font-family: 'Barlow', 'Noto Sans TC', cursive;
}

.navbar {
	padding: .2rem 1rem;
}

.navbar-brand {
    width: 11rem;
}

.navbar-nav {
    border-bottom: 1px solid #eee;
}

.nav-link {
	color: #3d1f04;
	font-size: 1rem;
	transition: .5s;
	letter-spacing: .2rem;
}

.active {
    color: #33866A;
}

.nav-link:focus, .nav-link:hover {
	color: #33866A;
}


footer {
	font-family: 'Barlow', 'Noto Sans TC', cursive;
	z-index: 999;
	position: relative;
}

.footer-link {
    display: flex;
	padding-right: 1rem;
	margin-bottom: 0;
	list-style: none;
	float: right;
}

.fa-bars {
    color: #33866A;
}

.fa-info {
    color: #fff;
}

.btn-footer {
    background-color: #33866A;
    border-radius: 2rem;
    width: 2vw;
    height: 2vw;
    transition: .5s;
}

.btn-footer span{
    display: none;
    color: #fff;
    margin-left: 1rem;
}

.btn-footer:hover {
    width: 7vw;
}

.btn-footer:hover span {
    display: inline;
}

section {
	padding: 10rem 0;
}

.circle {
    position: absolute;
    top: 10%;
    left: 45%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swal-title {
	font-family: 'Barlow', 'Noto Sans TC', cursive;
	font-weight: normal;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	color: #4B534C;
}

.swal-button{
	background-color: #d0ebd9;
	color: #58735b;
}

.swal-button:not([disabled]):hover {
    background-color: #d0ebd980;
}

.swal-button:active {
    background-color: #d0ebd9;
}

.swal-button:focus {
    box-shadow: none;
}

/*按鈕*/
.btn-primary {
    color: #fff;
    background-color: #33866A;
    border: 0;
	letter-spacing: .2rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: #33866A80;
    border: 0;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #33866A80;
    border: 0;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem #33866A50;
}

.btn-secondary {
    color: #325E5C;
    background-color: #D0EBD9;
    border: 0;
	letter-spacing: .2rem;
}

.btn-secondary:hover {
    color: #325E5C;
    background-color: #D0EBD980;
    border: 0;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #325E5C;
    background-color: #D0EBD980;
    border: 0;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 .2rem #D0EBD950;
}

/*表單*/
.form-control {
    color: #3A6C6A;
    background-color: #fff;
    border: 1px solid #64b3b0;
    border-radius: .5rem;
}

.form-control:focus {
    color: #3A6C6A;
    background-color: #fff;
    border-color: #64b3b0;
    outline: 0;
    box-shadow: 0 0 0 .2rem #64B3B050;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: Calibri , 'Noto Sans TC', cursive;
	color: #ccc;	
	letter-spacing: .2rem;
}

/*工具提示框*/
.tooltip > .tooltip-inner {background-color: #F7F7F7; color: #333333;font-family: Calibri , 'Noto Sans TC', cursive;}
.tooltip.left .tooltip-arrow { background-color: #F7F7F7; }
.tooltip.top .tooltip-arrow { background-color: #F7F7F7; }
.tooltip.right .tooltip-arrow { background-color: #F7F7F7; }
.tooltip.bottom .tooltip-arrow { background-color: #F7F7F7;}

/*超連結*/
a {
    color: #8F3B55;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #8F3B55;
    text-decoration: underline;
}

/* 卷軸底色 */
::-webkit-scrollbar { width:3px; background-color:#fff;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#ddd;}