/* 底色#d0ebd9 字#4B534C 淡#D1D1C2 酒紅#5A0217 苺粉#B8837E*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}

#menu {
	background-color: #d0ebd9;
	box-shadow: 0px 1px 3px #ccc;
	font-family: 'Barlow', 'Noto Sans TC', cursive;
}

.navbar {
	padding: .2rem 1rem;
}

.navbar-brand {
    width: 11rem;
}

.nav-link {
	color: #ffffffcc;
	font-size: .9rem;
	transition: .5s;
	letter-spacing: .2rem;
}

.active {
    color: #58735b;
}

.nav-link:focus, .nav-link:hover {
	color: #58735b;
}

.w-80 {
    width: 80% !important;
}

footer {
	background-color: #d0ebd9;
	font-family: 'Barlow', 'Noto Sans TC', cursive;
	z-index: 999;
}

.footer-link {
    display: flex;
	padding-right: 1rem;
	margin-bottom: 0;
	list-style: none;
	float: right;
}

section {
	padding: 9rem 0;
}

.swal-title {
	font-family: 'Barlow', 'Noto Sans TC', cursive;
	font-weight: normal;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	color: #4B534C;
}

.swal-button{
	background-color: #d0ebd9;
	color: #58735b;
}

.swal-button:not([disabled]):hover {
    background-color: #d0ebd980;
}

.swal-button:active {
    background-color: #d0ebd9;
}

.swal-button:focus {
    box-shadow: none;
}