/* 底色#d0ebd9 字#4B534C 淡#D1D1C2 酒紅#5A0217 苺粉#B8837E*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;
	/* font-family: Barlow, Noto Sans TC;
	letter-spacing: 3px;
	font-size: 12px; */
}

body {
	overflow-x: hidden;
	background-color: #fbfbfb;
	color: #4B534C;
}

.container-fluid {
	border-left: 10px solid #f4fff8;
	border-right: 10px solid #f4fff8;
	font-family: Calibri , 'Noto Sans TC', cursive;
	letter-spacing: .1rem;
	min-height: 94.2vh;
}

.card-body h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-body p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.new_img{
	-webkit-filter: grayscale(.6);
	transition: .5s;
}

.card:hover .new_img{
	-webkit-filter: grayscale(0);
}

#ettoday {
	display: none;
}

#tvbs {
	display: none;
}

#udn {
	display: none;
}

/* .card-text {
    text-overflow : ellipsis;
} */

/* 卷軸底色 */
::-webkit-scrollbar { width:3px; background-color:#fff;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#ddd;}
