@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/*火狐卷軸*/
html{
	scrollbar-width: thin;
}

* {
	margin: 0;
	padding: 0;
}

.card-body h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-body p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.new_img{
	-webkit-filter: grayscale(.6);
	transition: .5s;
}

.card:hover .new_img{
	-webkit-filter: grayscale(0);
}

#ettoday {
	display: none;
}

#tvbs {
	display: none;
}

#udn {
	display: none;
}

