<!DOCTYPE html>
<html lang="en">
<head>
	<title>食安餐廳系統</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/map.css">
	<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
	<script src="../static/js/jquery-3.6.0.js"></script>
	<script src="../static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
	<!-- icons -->
	<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    
    <!--怎麼插github阿-->
    <script src="../static/js/jquery.csv.min.js"></script>



</head>

<body id="page-top" onload="firstLoad()">
    <nav id="menu" class="navbar navbar-expand-lg fixed-top align-self-start">
		<a class="navbar-brand" href="#page-top"><img class="w-80 ml-3" src="../static/images/title img.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars" style="color: #fff;"></i></button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
			<ul class="navbar-nav text-center">
				<li class="nav-item"><a class="nav-link" href="./index.html">首頁</a></li>
				<li class="nav-item"><a class="nav-link active" href="./map">地圖</a></li>
				<li class="nav-item"><a class="nav-link" href="./news">食安新聞</a></li>
				<li class="nav-item"><a class="nav-link" href="./greenresturant">綠色餐廳</a></li>
				{% if uid %}
				<li class="nav-item"><a class="nav-link" href="./userinfo"><i class="fas fa-user"></i></a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="./login"><i class="fas fa-user"></i></a></li>
				{% endif%}
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<section class="first">
			<div class="row align-items-center">
				<!-- 搜尋框 -->
				<div class="form-group col-lg">
					<form class="form-inline">
						<!--輸入餐廳框框-->
						<input name="search_addr" class="form-control w-50" type="text" placeholder="搜尋餐廳">
						<button type="submit" class="btn btn-primary" name="search">搜尋</button>
					</form>
				</div>

				<!--分類框-->
				<div class="class-restaurant col-lg-5 text-center">
					<form>
						<input class="mr-2" type="checkbox" id="settings" checked="checked" value="CK_twpig">台灣豬
						<input class="mr-2" type="checkbox" id="settings" value="CK_green">綠色餐廳
						<input class="mr-2" type="checkbox" id="settings" value="CK_free">自備餐具折扣
					</form>
				</div>
			</div>
			
	
			<!--地圖-->
			<div id="map"></div>
		</section>
		
	</div>

	
	<footer class="footer py-2">
		<div class="row align-items-center">
			<div class="col-lg-4 col text-lg-start"></div>
			<div class="col-lg-4 col my-3 my-lg-0"></div>
			<div class="col-lg-4 col text-lg-end text-right">
				<ul class="footer-link">
					<li class="nav-item"><a class="nav-link" href="./about">關於我們</a></li>
				</ul>
			</div>
		</div>
	</footer>

	<script >
		//全域變數
	
		let text='{{greenData|tojson()}}'
		let greenData=JSON.parse(text);

		text='{{freeData|tojson()}}'
		let freeData=JSON.parse(text);
		console.log(freeData[0]['Response_Y'])

		let pigdata=[];

		// 地標資料處理
		pigdata =[
			//{% for record in data%}
				{
					title:'{{record.market_name}}',
					addr:'{{record.addr}}',
					Latitude:'{{record.Latitude}}',
					Lontitude: '{{record.Lontitude}}',
					context:'{{record.context}}'
				},
			//{% endfor %}
		];
		//地標圖片，圖片88 我頭會痛死要重調惹QAQ
		const icons = {
			pig: "./static/images/pig.png",
			green:"./static/images/green.png",
			free:"./static/images/free.png",
		};

		//地圖
		function initMap() {
			var map = new google.maps.Map(document.getElementById("map"), {
				center: { 
					lat: 23.695919378044756, 
					lng: 120.53353474084176
				},
				zoom: 16,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			//豬豬
			var marker = [];
			var greenMarker=[];
			var freeMarker=[];

			var infoWindow = [];

			//跑迴圈新增地標
			for (let i = 0; i< pigdata.length; i++) {
				marker[i] = new google.maps.Marker({
					position: new google.maps.LatLng(pigdata[i]['Latitude'], pigdata[i]['Lontitude']), //位置
					map: map,
					title: pigdata[i]['market_name'],
					icon: icons['pig'], //這邊我先弄豬而已
				});
				
				// 按下地標跑出的內容設定
				infoWindow[i] = new google.maps.InfoWindow({ 
					content: '<div class="map_content text-center p-2"><p class="map_content_title">' +pigdata[i]['market_name']+'</p><p>地址：'+ pigdata[i]['addr'] +'</p><p>'
						+pigdata[i]['context'] + '</p></div>'
				});

				 marker[i].addListener('click', function() {
                 infoWindow[i].open(map, marker[i]);
               });
			}

			//跑迴圈新增地標
			for (let i=0 ; i< greenData.length; i++) {
				greenMarker[i] = new google.maps.Marker({
					position: new google.maps.LatLng(greenData[i]['Response_Y'], greenData[i]['Response_X']), //位置
					map: map,
					title: greenData[i]['Name'],
					icon: icons['green'], //綠色
				});
				
				// 按下地標跑出的內容設定
				infoWindow[i] = new google.maps.InfoWindow({ 
					content: '<div class="map_content text-center p-2"><p class="map_content_title">' +greenMarker[i]['title']+'</p><p>地址：'+greenData[i]['Address']+'</p><p>'
						+greenData[i]['Tel'] + '</p></div>'
				});

				 greenMarker[i].addListener('click', function() {
                 infoWindow[i].open(map, greenMarker[i]);
               });
			}
		
			
			//跑迴圈新增地標
			for (let i=0 ; i< freeData.length; i++) {
				freeMarker[i] = new google.maps.Marker({
					position: new google.maps.LatLng(freeData[i]["Response_Y"], freeData[i]["Response_X"]), //位置
					map: map,
					title: freeData[i]['Name'],
					icon: icons['free'], //免費
				});
				
				// 按下地標跑出的內容設定
				infoWindow[i] = new google.maps.InfoWindow({ 
					content: '<div class="map_content text-center p-2"><p class="map_content_title">' +freeMarker[i]['title']+'</p><p>地址：'+freeData[i]['Address']+'</p><p>'
						+freeData[i]['Tel'] + '</p><p>'+freeData[i]['GBType']+'</p></div>'
				});

				 freeMarker[i].addListener('click', function() {
                 infoWindow[i].open(map, freeMarker[i]);
               });
			}
		}

		// 清除所有地標，我發現清的調，可是圖片還活著ㄚㄚㄚㄚ
		function deleteMarkers() {
			setPigMarker(null);
			marker = [];
		}

		
	</script>

	<script>
	//用來控制checkbox的script

	let checkboxes = $("input[type=checkbox][id=settings]")
    let enabledSettings = [];
     
     // Attach a change event handler to the checkboxes.
     checkboxes.change(function(){
        enabledSettings = checkboxes
         .filter(":checked") // Filter out unchecked boxes.
         .map(function() { // Extract values using jQuery map.
           return this.value;
         }) 
         .get() // Get array.

       console.log(enabledSettings);
	   markcontrol()
     });   

	 //這邊只是單純因為有預設，所以才要讓firstLoad來執行一次load，如果直接讓他執行load會出錯所以才這樣寫
     function load(){
        enabledSettings = checkboxes
         .filter(":checked") // Filter out unchecked boxes.
         .map(function() { // Extract values using jQuery map.
           return this.value;
         }) 
         .get() // Get array.

       console.log(enabledSettings);

     }

     function firstLoad(){
        load()
     }

	 //這邊是在控制marker，讓他每次被讀到都會執行這裡
	 function markcontrol(){
		var bol_twpig,bol_green,bol_free=false;
		enabledSettings

		if(enabledSettings.indexOf('CK_twpig')!=-1)
		console.log("CK_twpig OKKKK");
		//setPigMarker()
		// else
		// deleteMarkers()
		if(enabledSettings.indexOf('CK_green')!=-1)
		console.log("CK_green OKKKK");

		enabledSettings.indexOf('CK_free')!=-1 ? (console.log("CK_free OKKKK")):(console.log("CK_free FFFFFF"));


		if(enabledSettings!=""){
			for(let i=0;i++;i<enabledSettings.length){
				if(enabledSettings[i]=="CK_twpig"){
					setPigMarker()
					bol_twpig=true;
				}
				if(enabledSettings[i]=="CK_green"){//寫入綠色餐廳
					bol_green=true;
				}
				if(enabledSettings[i]=="CK_free"){//寫入餐具
					bol_free=true;
				}
			}//end for
		}//end if

	}

	</script>
	<!-- 地圖api API-->
	<script src="https://maps.googleapis.com/maps/api/js?key={{api}}&callback=initMap&libraries=&v=weekly" async></script></body>
</html>