<!DOCTYPE html>
<html lang="en">
<head>
    <title>食安餐廳系統</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/news.css">
	<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
	<script src="../static/js/jquery-3.6.0.js"></script>

	<script src="../static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
	<!-- icons -->
	<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <nav id="menu" class="navbar navbar-expand-lg fixed-top align-self-start">
		<a class="navbar-brand" href="#page-top"><img class="w-100 ml-3" src="../static/images/title img.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
			<ul class="navbar-nav text-center">
				<li class="nav-item mx-2"><a class="nav-link" href="./index.html">首頁</a></li>
				<li class="nav-item mx-2"><a class="nav-link" href="./map">地圖</a></li>
				<li class="nav-item mx-2"><a class="nav-link active" href="./news">食安新聞</a></li>
				<li class="nav-item mx-2"><a class="nav-link" href="./greenresturant">綠色餐廳</a></li>
				{% if uid %}
				<li class="nav-item mx-2"><a class="nav-link" href="./userinfo"><i class="fas fa-user"></i></a></li>
				{% else %}
				<li class="nav-item mx-2"><a class="nav-link" href="./login">登入</a></li>
				{% endif%}
			</ul>
		</div>
	</nav>

    <div class="container-fluid">
        <section>
			<div class="container mb-5">
				<div class="row text-center">
					<div class="col-12 col-md-4 p-4">
						<button id="ettoday_btn" class="btn btn-primary">ETtoday新聞雲</button>
					</div>
					<div class="col-12 col-md-4 p-4">
						<button id="tvbs_btn" class="btn btn-primary">TVBS新聞網</button>
					</div>
					<div class="col-12 col-md-4 p-4">
						<button id="udn_btn" class="btn btn-primary">聯合新聞網</button>
					</div>
				</div>
			</div>

			<!-- ETtoday新聞雲 預設-->
			<div class="container" id="ettoday" style="display: block;">
				<div class="row">
					{% for data in etoday %}
					<div class="col-12 col-md-4 p-4">
						<div class="card-deck">
							<div class="card">
								<img class="img-fluid new_img" src="{{data.picture_url}}" class="card-img-top">
								<div class="card-body">
									<a target="_blank" href="{{data.news_url}}"><h5 class="card-title">{{data.news_title}}</h5></a>
									<p class="card-text">{{data.introduction}}</p>
								</div>
								<div class="card-footer">
									<small class="text-muted">{{data.date}}</small>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<!-- TVBS新聞網 -->
			<div class="container" id="tvbs">
				<div class="row">
					{% for data in tvbs %}
					<div class="col-12 col-md-4 p-4">
						<div class="card-deck">
							<div class="card">
								<img class="img-fluid new_img" src="{{data.picture_url}}" class="card-img-top">
								<div class="card-body">
									<a target="_blank" href="{{data.news_url}}"><h5 class="card-title">{{data.news_title}}</h5></a>
									<!-- <p class="card-text">{{data.introduction}}</p> -->
								</div>
								<div class="card-footer">
									<small class="text-muted">{{data.date}}</small>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<!-- 聯合新聞網-->
			<div class="container" id="udn">
				<div class="row">
					{% for data in udn %}
					<div class="col-12 col-md-4 p-4">
						<div class="card-deck">
							<div class="card">
								<img class="img-fluid new_img" src="{{data.picture_url}}" class="card-img-top">
								<div class="card-body">
									<a target="_blank" href="{{data.news_url}}"><h5 class="card-title">{{data.news_title}}</h5></a>
									<p class="card-text">{{data.introduction}}</p>
								</div>
								<div class="card-footer">
									<small class="text-muted">{{data.date}}</small>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
    </div>

	<footer class="footer py-2 fixed-bottom">
		<div class="row align-items-center">
			<div class="col-lg-4 col text-lg-start"></div>
			<div class="col-lg-4 col my-3 my-lg-0"></div>
			<div class="col-lg-4 col text-lg-end text-right">
				<ul class="footer-link">
					<a class="btn btn-footer" href="./about"><i class="fas fa-info"></i><span>關於我們</span></a>
				</ul>
			</div>
		</div>
	</footer>

	<script src="../static/js/news.js"></script>
</body>
</html>