<!DOCTYPE html>
<html lang="en">
<head>
	<title>食安餐廳系統</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/user.css">
	<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
	<script src="../static/js/jquery-3.6.0.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
	<!-- icons -->
	<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <nav id="menu" class="navbar navbar-expand-lg fixed-top align-self-start">
		<a class="navbar-brand" href="#page-top"><img class="w-80 ml-3" src="../static/images/title img.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars" style="color: #fff;"></i></button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
			<ul class="navbar-nav text-center">
				<li class="nav-item"><a class="nav-link" href="./index.html">首頁</a></li>
				<li class="nav-item"><a class="nav-link" href="./map">地圖</a></li>
				<li class="nav-item"><a class="nav-link" href="./news">食安新聞</a></li>
				<li class="nav-item"><a class="nav-link" href="./greenresturant">綠色餐廳</a></li>
				<li class="nav-item"><a class="nav-link active" href="./userinfo"><i class="fas fa-user"></i></a></li>
			</ul>
		</div>
	</nav>

	<header class="masthead text-center">
        <div class="masthead-heading mb-1">使用者資訊</div>
        <div class="masthead-subheading">Information</div>
    </header>

	<div class="container-fluid">
		<section class="first">
            <div class="container">
                <div class="box1 border p-5 text-center">
                    <img id="user-img" class="rounded-circle w-25 mb-5" src="../static/images/user img.png">
                    <div class="row mb-5">
                        <div class="col  text-right">
                            <p><label class="mr-3">暱稱</label></p>
                            <p><label class="mr-3">密碼</label></p>
                        </div>
                        <div class="col text-left">
                            <p><label>{{uid}}</label></p>
							<p><button name="updataPWD-btn" type="submit" id="btn-pwd" class="btn border btn-sm" data-toggle="modal" data-target="#updataPWD">更改密碼</button></p>
								<!-- Modal -->
								<div class="modal fade" id="updataPWD" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">更改密碼</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form action="./changepwd" method="POST" id="form1">
												<div class="modal-body text-center">
													<label for="inputPassword">請輸入新密碼</label>
													<p><input name="pwd_input" type="password" class="form-control w-50 mx-auto" id="inputPassword" placeholder="New Password"></p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
													<button type="submit" class="btn btn-primary">Save changes</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							<form method="POST">
								<p><button name="logout-btn" type="submit" id="logout" class="btn btn-primary" value="logout">登出</button></p>
							</form>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col mr-4">
                            <div class="row">
                                <div class="col p-5 border mb-5">
                                    <h3>店家查詢歷史</h3>
                                </div>
                                <div class="w-100"></div>
                                <div class="col p-5 border">
                                    <h3>歷史評價</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col p-5 border">
                            <h3>我的最愛</h3>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </section>
	</div>
	
	{% with messages = get_flashed_messages(with_categories = true) %}
		{% if messages %}
			{% for category, message in messages %}
			<script type = "text/javascript">
				swal({
					title: "{{message}}",
					icon: "{{category}}",
				});
			</script>
			{% endfor %}
		{% endif %}
	{% endwith %}
		

	<footer class="footer py-2">
		<div class="row align-items-center">
			<div class="col-lg-4 col text-lg-start"></div>
			<div class="col-lg-4 col my-3 my-lg-0"></div>
			<div class="col-lg-4 col text-lg-end text-right">
				<ul class="footer-link">
					<li class="nav-item"><a class="nav-link" href="./about">關於我們</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>